body {
  background-color: black;
  text-align: center;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

table,
.modal {
  margin: 100px auto;
  border: 1px solid lightgray;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
}

.modal {
  width: 500px;
  height: 300px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  z-index: 2;
}

.modal button {
  margin-top: 20px;
  padding: 6px 10px;
  border-radius: 4px;
}
